.more-info {
    margin: 30px;
    background-color:rgb(213, 213, 213)
}

/* task 1 */

* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}

body {
    font-family: Aleo, sans-serif ;
    line-height: 1.6;
    color: #131313;
    background-color: rgb(255, 255, 255);
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
/* task 2 */
h1 {
    font-size: 40px;
    font-weight: bold;
}

h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
}

h3 {
    font-size: 27px;
    font-weight: 300;
    margin-bottom:10px ;
}

h4 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;

}

section {
    align-items: center;
}

header {
    display: flex;
    padding: 20px 40px;
    margin: 0 auto;
    background-color:rgb(69, 69, 154)
}
.title {
    font-size: 45px;
    font-weight: bold;
    gap: 20px;
}


#logo {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    transition: transform 0.3s ease;
}


#logo:hover {
    transform: scale(1.1);
    cursor: pointer;
}



.mainResources {
            padding: 60px 0
        }

        .scroll-box {
            width: fit-content;
            height: 21rem;
            border: 1px solid #ccc;
            overflow-y: auto;
            /* Vertical scrollbar when needed */
            overflow-x: hidden;
            /* Hide horizontal scrollbar */
            padding: 30px;
        }

        #intro_to_page {
            /* Set the background image */
            background-image: url('https://th.bing.com/th/id/R.edc2fd6f40af132242924913bc3a9438?rik=AQinanDMmiGmug&riu=http%3a%2f%2fwww.buildingfamilies.net%2fwp-content%2fuploads%2f2014%2f09%2fbigstock-Portrait-of-happy-family-with-48536213.jpg&ehk=a%2fUsfG87TzEc0492LPYy7kLCux7BfULfN0iV0jxBrg8%3d&risl=&pid=ImgRaw&r=0');

            /* Make it cover the whole page */
            background-size: cover;

            background-position: center;

            background-repeat: no-repeat;

            /* Set a fallback background color */
            background-color: #cccccc;
            height: 25rem
        }


        @media (max-width: 760px) {
            .start_info {
                flex-direction: column
            }
            .container p{
                font-size: 24px
            }
            #resourcelist {
                margin: 10px;
                font-size: small
            }
            .card-text {
                font-size: 15px;
            }
        }